@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Unbounded&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
    margin: 0;
    transition: background-color 0.6s ease;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

#logo {
    width: 4rem;
}

/* #text-to-change {
    transition: transform 1s ease-in-out;
    transform: translateY(0);
} */

.swipe-up {
    transform: translateY(-100%);
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 1rem;
}

header h1 {
    font-size: 20px;
}

header p {
    margin-top: 20px;
    margin-left: 5px;
}


/* body.scrolled {
    background-color: #0c1e21;
} */

#hero-page {
    height: 70vh;
    /* text-align: center; */
    margin: auto;
    margin-top: 8rem;
    width: 80%;
    /* color: #204e56; */
}

#hero-page h1 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 0;
    color: #4a4a4a;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 3rem;
}

#hero-page h1 span {
    font-size: 32px;
}

#top-heading {
    color: #eeb30d;
}

#hero-page p {
    text-align: left;
    font-size: 16px;
    margin-top: 0;
}

#location a {
    display: flex;
    align-items: center;
    color: #8c6a0e;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}


#button,
#submit-button {
    padding: 15px;
    border: none;
    background-color: #6dd5fa;
}

#submit-button {
    background-color: #ffffff;
}

#button:hover,
#submit-button:hover {
    border-bottom: 2px solid white;
}

#button a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

#registration-page {
    height: 100vh;
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 3rem;
}


#registration-page h1 {
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.321);
}

input:hover,
select:hover,
select:focus-visible,
input:focus-visible {
    outline: 1px solid #ffffff;
    box-shadow: -1px 1px 10px rgb(252, 252, 252);
    background-color: rgb(252, 252, 252);
}


label {
    margin-bottom: 5px;
    color: #444444;
}



form button {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
}

#submit-button:hover {
    border-bottom: 2px solid black;
}


form div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#nname {
    width: 50%;
    margin-right: 0;
}

#eemail {
    width: 50%;
    margin-top: 0;
}

#reg {
    width: 25%;
}

#cclass {
    margin-left: 2rem;
    width: 24%;
}

#class select {
    margin-left: 0;
    font-size: 11px;
}

#class {
    height: 34.5px;
}

#name-reg {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: relative;
    bottom: 0px;
}

/* #falah {
    text-decoration: none;
    color: #eeb30d;
    border-bottom: 1px solid #eeb30d;
} */

@media screen and (max-width:400px) {
    #logo {
        width: 3rem;
    }

    header h1 {
        font-size: 16px;
    }

    header p {
        font-size: 12px;
        margin-top: 15px;
        margin-left: 5px;
    }

    #hero-page {
        /* margin-top: 20rem; */
        width: 70%;
        height: 100vh;
    }

    #hero-page h1 {
        font-size: 20px;
        line-height: normal;
    }

    #hero-page p {
        font-size: 12px;
    }

    #hero-page h1 span {
        font-size: 22px;
    }

    form {
        width: 90%;
    }

    #registration-page {
        width: 70%;
        height: 70vh;
        padding-top: 6rem;
    }

    #registration-page h1 {
        font-size: 20px;
    }

    label {
        color: rgb(39, 39, 39);
        font-size: 12px;
    }

    #nname {
        width: 100%;
    }

    #cclass {
        padding-top: 10px;
        width: 100%;
        margin-left: 0;
    }

    #class {
        width: 108%;
    }

    #reg {
        width: 100%;
    }

    #eemail {
        width: 100%;
    }

    #name-reg {
        display: block;
        margin-bottom: 8px;
    }

    #submit-button {
        width: 108%;
        text-align: center;
    }
}